.hero-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 90rem;
  height: 100vh;
  padding: 3.5rem 0;

  &__title {
    font-size: 3.4rem;
    font-weight: 700;

    span {
      font-size: 4.8rem;
      color: var(--primary);
    }
  }

  &__desc {
    max-width: 60rem;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
  }
}
