.hero-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 90rem;
  height: 100vh;
  padding: 3.5rem 0;

  &__title {
    font-size: 3.4rem;
    font-weight: 700;

    span {
      font-size: 4.8rem;
      color: var(--primary);
    }
  }

  &__desc {
    max-width: 60rem;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
    margin-top: 5.5rem;
  }

  &__item {
    position: relative;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
  }

  &__img {
    height: 6rem;
  }

  &__percent {
    font-size: 1.8rem;
    font-weight: 600;
  }
}