.hero-journey {
  $this: &;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90rem;
  padding: 10rem 0;

  &__title {
    font-size: 3.4rem;
    font-weight: 700;

    @media screen and (max-width: 1280px) {
      font-size: 2.8rem;
    }

    span {
      font-size: 4.8rem;
      color: var(--primary);

      @media screen and (max-width: 1280px) {
        font-size: 3.8rem;
      }
    }
  }

  &__desc {
    max-width: 60rem;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
  }

  &__timeline {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 10rem;
    padding: 2rem 0;
    position: relative;

    @media screen and (max-width: 1280px) {
      margin-top: 5rem;
    }
  }

  &__y-axis {
    width: 0.4rem;
    height: 100%;
    background-color: rgba(#ffffff, 0.5);
    box-shadow: 0 0.4rem 3rem rgba(#000000, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1280px) {
      left: auto;
      right: 0;
    }

    &::before {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: rgba(#ffffff, 0.5);
      border-radius: 50%;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: rgba(#ffffff, 0.5);
      border-radius: 50%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    display: flex;
    padding: 4rem 0;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1280px) {
      padding-right: 5.4rem;
      flex-direction: column;
      align-items: flex-end;
    }

    &.\--left {
      justify-content: flex-start;

      #{$this}__item-img {
        margin-left: -8rem;

        @media screen and (max-width: 1280px) {
          margin-left: 0;
        }

        span {
          right: 0;
          margin-right: -4.8rem;
        }
      }

      #{$this}__item-contain {
        text-align: right;
      }
    }

    &.\--right {
      justify-content: flex-end;

      #{$this}__item-img {
        margin-left: 8rem;

        @media screen and (max-width: 1280px) {
          margin-left: 0;
        }

        span {
          left: 0;
          margin-left: -4.8rem;

          @media screen and (max-width: 1280px) {
            margin-right: -4.8rem;
            left: auto;
            right: 0;
          }
        }
      }

      #{$this}__item-contain {
        text-align: left;

        @media screen and (max-width: 1280px) {
          text-align: right;
        }
      }
    }
  }

  &__item-img {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1280px) {
      width: 4rem;
      height: 4rem;
      margin-bottom: 2.5rem;
      position: relative;
      transform: none;
      left: auto;
      top: auto;
    }

    span {
      width: 4.8rem;
      height: 0.4rem;
      background-color: rgba(#ffffff, 0.5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    img {
      border-radius: 1rem;
    }
  }

  &__item-contain {
    width: calc(50% - 13rem);

    @media screen and (max-width: 1280px) {
      width: 100%;
    }
  }

  &__item-date {
    font-size: 1.8rem;
    line-height: 100%;
    font-weight: 700;
  }

  &__item-name {
    font-size: 3.6rem;
    font-weight: 100;

    @media screen and (max-width: 1280px) {
      font-size: 2.8rem;
    }
  }

  &__item-content {
    padding: 3rem 2.5rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 300;
    background-color: rgba(#ffffff, 0.1);
    border: solid 0.1rem rgba(#ffffff, 0.2);
    box-shadow: 0 0.4rem 3rem rgba(#000000, 0.2);
    border-radius: 1.5rem;
    backdrop-filter: blur(0.61rem);
  }
}
