.app {
  display: flex;
  height: 100vh;
  background: #0a0615;
  overflow: hidden;
  transition: padding-left 0.3s linear;

  &__banner {
    width: 65rem;
    transition: width 0.3s linear;
    flex-shrink: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 0 4.5rem 0 3rem;
    overflow-y: auto;
  }
}
