.app {
  display: flex;
  transition: padding-left 0.3s linear;
  padding-left: 65rem;

  &__banner {
    width: 65rem;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 0 4.5rem 0 3rem;
  }
}
