.progress-bar {
  &__outer {
    width: 100%;
    background-color: rgba(#ffffff, 0.1);
    border: solid 0.1rem rgba(#ffffff, 0.2);
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 3rem rgba(#000000, 0.2);
    overflow: hidden;
  }

  &__inner {
    height: 0.8rem;
    width: 0;
    border-radius: 1.5rem;
    transition: width 0.5s linear;
  }
}