.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10rem 0;

  &__name {
    font-size: 3.4rem;
    font-weight: 700;

    span {
      font-size: 4.8rem;
      color: var(--primary);
    }
  }

  &__desc {
    max-width: 70rem;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    padding: 3rem 2.5rem;
    background-color: rgba(#ffffff, 0.1);
    border: solid 0.1rem rgba(#ffffff, 0.2);
    box-shadow: 0 0.4rem 3rem rgba(#000000, 0.2);
    border-radius: 1.5rem;
    backdrop-filter: blur(0.61rem);
  }

  &__metadata {
    max-width: 70rem;
    margin-top: 3.5rem;
  
    dl {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.6rem;

      dt {
        margin-top: 1.5rem;
        width: 20rem;
        font-weight: 700;
      }

      dd {
        width: calc(100% - 20rem);
        margin-top: 1.5rem;
        font-weight: 300;
        position: relative;
      }
    }
  }
}
